
.red{
  color: red;
  
}
a{
  cursor: pointer;
}

.navbar-brand {
  color: red;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 35px;
}
.navbar-nav {
  font-size: 18px;
}