body{
  padding: 0;
  margin: 0;
    }

.heading-title{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
body{
max-width: 100%;
}

body{
    display: flex;
    justify-content: center;
}
body .form-group{
    width: 150px;
}
.container{
    width: 60%
}
input{
    background-color: #cacaca;
    color: rgb(167, 0, 0)
}
textarea{
    background-color: #cacaca;
    color: rgb(167, 0, 0)
}
select{
    background-color: #cacaca;
    color: rgb(167, 0, 0)
}
.btn-warning{
    width: 40%;
    margin: 3px;
}
.btn-danger{
    width: 50%;
    margin: 3px;
}
label{
    font-size: 1.2em;
}
.red{
    color:red;
}
.container2{
    text-align: center;
    margin: 25%
}
