a{
    background-color: #808080;
    margin-top: 1%
}
.list-group-item:hover{
    background-color: rgb(255, 85, 85)
}
.list-group-item-text{
    color:white;
    font-size: 1.2em;
    float: left;
}
.list-group-item-heading{
    font-weight: bolder;
    font-size: 2em;
}
.container{
    margin-top: 5%;
    width: 75%
}
p{
    float: right;
    font-size: 2em;
    margin-bottom: 0%;
    margin-right: 5%;
}
hr{
    margin-top: 1%;
}
