a{
    background-color: #808080
}
.list-group-item:hover{
    background-color: rgb(255, 85, 85)
}
.list-group-item-text{
    color:white;
    font-size: 1.2em;
}
.list-group-item-heading{
    font-weight: bolder;
    font-size: 2em;
}
