<a 
        class="list-group-item clearfix"
        *ngFor="let movie of movies | mylist"
        >
            <div class="pull-left">
                <h4 cass="list-group-item-heading">{{movie.name}}</h4>
                <p class="list-group-item-text"> <b>Genre:</b> {{movie.genre}}</p>
            </div>
            <div class="pull-right">
                <app-rating
                [movie]='movie'
                [rating]='movie.rating' 
                [movieName]='movie.name' 
                (ratingClick)='ratingComponentClick($event)'
                ></app-rating>  
          </div>
</a>
