<a 
        class="list-group-item clearfix"
        *ngFor="let movie of movies | watchlist"
        >
            <div class="pull-left">
                <h4 cass="list-group-item-heading">{{movie.name}}</h4>
                <p class="list-group-item-text"> <b>Genre:</b> {{movie.genre}}</p>
                <p class="list-group-item-text"> <b>Release Date:</b> {{movie.releaseDate}}</p>
            </div>
            <button mat-button>
                    <mat-icon 
                    (click)="this.movie.addedToWatchList= !this.movie.addedToWatchList">
                    {{this.movie.addedToWatchList? "favorite": "favorite_border"}}
                    </mat-icon>
                </button>
            </a>
