
  <button class="btn btn-primary"
            (click)="selectRandomMovie(movie)"
            *ngIf="!randomMovie; else suggestion">
                What should I watch today ?
    </button>
    <ng-template #suggestion>
    <p>How about : </p>
    <h1>{{randomMovie.name}} !</h1>
    <button class="btn btn-success"
    [routerLink]="['/movie-details', randomMovie.name]">
        Sounds good !
    </button>   
    <button class="btn btn-danger"
            (click)="selectRandomMovie(movie)">
                Nah, try again
    </button>
</ng-template>
    <hr>
<a
        class="list-group-item clearfix"
        *ngFor="let movie of movies | watchlist"
        >
            <div class="pull-left">
                <h4 cass="list-group-item-heading">{{movie.name}}</h4>
                <p class="list-group-item-text"> <b>Genre:</b> {{movie.genre}}</p>
                <p class="list-group-item-text"> <b>Release Date:</b> {{movie.releaseDate}}</p>
            </div>
            <button mat-button
            class= "pull-right">
            <p>Remove from watchlist:</p>
                    <mat-icon 
                    (click)="this.movie.addedToWatchList= !this.movie.addedToWatchList"
                    [ngClass]="{redIcon: this.movie.addedToWatchList}">
                    {{this.movie.addedToWatchList? "favorite": "favorite_border"}}
                    </mat-icon>
                </button>
            </a>

            
