.card{
    margin: 10px;
    border: 1px, black
}
.redIcon{
    color:red;
}
.blueIcon{
    color:blue;
}
img{
max-height: 400px; 
cursor: pointer;
margin: 0 auto;
}

.list-group-item-text {
    font-size: 17px;
    color: orange;
}
.card-footer{
    text-align: center;
}

