<H1> {{title}} </H1>
<div class="row">
    <div class="col-xs-12">
        <p class="list-group-item-text"><b>Find movie: </b><input type="text" [(ngModel)]="filteredStatus" placeholder="Movie name">
                    </div>
</div>
              <hr>
    <div class="card-deck"
    *ngFor="let movie of movies | filter:filteredStatus:'name'">
    <div class="col-sm-4">
        <div class="card center">
          <img class="card-img-top img-responsive"
           [src]='movie.imagePath'
            alt={{movie.name}}
            [routerLink]="['/movie-details', movie.name]">
          <div class="card-body">
            <h4 class="card-title text-center">{{movie.name}} </h4>
                <span class="buttons">
                    <button mat-button>
                        <mat-icon 
                        (click)="this.movie.addedToWatchList= !this.movie.addedToWatchList"
                        [ngClass]="{redIcon: this.movie.addedToWatchList}"
                        class="buttonWatchList"
                        >
                        {{this.movie.addedToWatchList? "favorite": "favorite_border"}}
                        </mat-icon>
                    </button>
                    <button mat-button>
                            <mat-icon 
                            (click)="this.movie.seen= !this.movie.seen"
                            [ngClass]="{blueIcon: this.movie.seen}"
                            class="buttonSeen"
                            >
                            {{this.movie.seen? "visibility": "visibility_off"}}
                            </mat-icon>
                        </button>
                </span>

            <p class="card-text text-center"><b>Release Date: </b>{{movie.releaseDate}}</p>
          <div class="card-footer">
            <small class="text-muted"><b>Genre: </b>{{movie.genre}}
        </small>           
          </div>
        </div>


<!--         
        <div class="row card-group"
        >
        <div class="col-xs-4"
        class="list-group-item clearfix"
        *ngFor="let movie of movies | filter:filteredStatus:'name'"
        >
            <div class="pull-left">
                <h4 cass="list-group-item-heading">{{movie.name}}</h4>
                <p class="list-group-item-text"> <b>Genre:</b> {{movie.genre}}</p>
                <p class="list-group-item-text"> <b>Release Date:</b> {{movie.releaseDate}}</p>
                <p class="list-group-item-text">
                        <button class="btn btn-succes">
                            <a [routerLink]="['/movie-details', movie.name]">
                                Go to details
                            </a>
                        </button>
                </p>

    </div>
                    
            <span class="pull-right">
                <img [src]="movie.imagePath"
                alt="{{ movie.name }}"
                class="img-responsive" 
                style="max-height: 150px;">
                <button mat-button>
                    <mat-icon 
                    (click)="this.movie.addedToWatchList= !this.movie.addedToWatchList">
                    {{this.movie.addedToWatchList? "favorite": "favorite_border"}}
                    </mat-icon>
                </button>
                <button mat-button>
                        <mat-icon 
                        (click)="this.movie.seen= !this.movie.seen">
                        {{this.movie.seen? "visibility": "visibility_off"}}
                        </mat-icon>
                    </button>
            </span>
        </div>
        </div>
 -->
