<H1> {{title}} </H1>
<div class="row">
    <div class="col-xs-12">
        <a 
        class="list-group-item clearfix"
        *ngFor="let movie of movies"
        >
            <div class="pull-left">
                <h4 cass="list-group-item-heading">{{movie.name}}</h4>
                <p class="list-group-item-text"> <b>Genre:</b> {{movie.genre}}</p>
                <p class="list-group-item-text"> <b>Release Date:</b> {{movie.releaseDate}}</p>
                <p class="list-group-item-text">
                        <button class="btn btn-succes">
                            <a [routerLink]="['/movie-details', movie.name]">
                                Go to details
                            </a>
                        </button>
                </p>

    </div>
                    
            <span class="pull-right">
                <img [src]="movie.imagePath"
                alt="{{ movie.name }}"
                class="img-responsive" 
                style="max-height: 150px;">
<div class="row">
                <button mat-button>
                    <mat-icon 
                    (click)="this.movie.addedToWatchList= !this.movie.addedToWatchList;addToWatchlist(this.movie)">
                    {{this.movie.addedToWatchList? "favorite": "favorite_border"}}
                    </mat-icon>
                </button>
                <button mat-button>
                        <mat-icon 
                        (click)="this.movie.seen= !this.movie.seen">
                        {{this.movie.seen? "visibility": "visibility_off"}}
                        </mat-icon>
                    </button>
                </div>
            </span>
        </a>
    </div>
</div>
<hr>