<H1> Upcoming Movies</H1>
<div class="row">
    <div class="col-xs-12">
        <a 
        href="#" 
        class="list-group-item clearfix"
        (click)="onSelected(movie)"
        *ngFor="let movie of movies"
        >
            <div class="pull-left">
                <h4 cass="list-group-item-heading">{{movie.name}}</h4>
                <p class="list-group-item-text"> Genre: {{movie.genre}}</p>
                <p class="list-group-item-text"> Release Date: {{movie.releaseDate}}</p>
                <button mat-button>
                    <mat-icon (click)="this.movie.addedToWatchList= !this.movie.addedToWatchList">{{this.movie.addedToWatchList? "favorite": "favorite_border"}}</mat-icon>
                </button>
            </div>
            <span class="pull-right">
                <img [src]="movie.imagePath"
                alt="{{ movie.name }}"
                class="img-responsive" 
                style="max-height: 100px;">
            </span>
        </a>
    </div>
</div>
<hr>